<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chainsys Website</title>
</head>
<body>
<!---headerRight--->
<!-- <app-header-right></app-header-right> -->
<header>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">products</a></li>
            <li><a href="#">Solutionssss</a></li>
            <li><a href="#">Platforms</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Login portals</a></li>
        </ul>
        <a href="#"><img src="\assets\images\logo2.png"></a>
        <a href="#"><img src="\assets\images\logo3.png"></a>
        <button>demo</button>
</header>
</body>