<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="home">
        <h2>Create a website without limits</h2>
        <div class="paragraphdiv">
            <p>Build and Scale with confidence.From a powerful website builder to advanced business solutions--we've got you
                covered.</p>
        </div>
        
        <button (click)="onclick()">{{Buttonvalue}}</button>  
        <div class="smallparagraph"> 
            <p>Start for free.no credit card required</p>
        </div>
          
        <img src="\assets\images\image1.png">
    </div>
</body>
<app-content1></app-content1>

</html>