<h2>One platform,<br>infinite possibilities</h2>
<img src="assets\images\line.png">
<div class="subcontents">
<div class="subcontent1">
    <h3>Build a website</h3>
        <p>Design with a full suite of intuitive tools and powerful AI to create the site you want.</p>
</div>
<div class="subcontent2">
    <h3>Manage your business</h3>
    <p>Streamline your day-to-day with built-in business solutions, tailored to your needs.</p>
</div>
<div class="subcontent3">
    <h3>Grow online</h3>
    <p>Expand your reach and monetize your website with integrated tools built for your success.</p>
</div>

