<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-logo">
            <img [src]=list.img>
        </div>
        <ul>  
            <a [routerLink]="['Product']">
                <li>{{list.product}} </li>
            </a>
            <a [routerLink]="['Soultions']">
                <li>{{list.solution}}</li>
            </a>
            <a [routerLink]="['Resources']">
                <li>{{list.resources}}</li>
            </a>
            <a [routerLink]="['Pricing']">
                <li>{{list.pricing}}</li>
            </a>
            
        </ul>
        <app-navbarright></app-navbarright>
    </div>
</body>
</html>